.header {
    position: sticky;
    z-index: 300;
    top: 0;
    left: 0;
    background: #fff;
}

.headerInner {
    display: flex;
    max-width: 1352px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    gap: 30px;
}


@media screen and (min-width: 768px) {
    .headerInner {
        padding: 0 20px;
    }
}