.header {
    position: relative;
    z-index: 300;

}

.headerInner {
    display: flex;
    max-width: 1352px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

