.gnb {
    display: none;
}

@media screen and (min-width: 768px) {
    .gnb {
        display: flex;
    }

    .gnb a {
        padding: 30px 10px;
        min-width: 120px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
    }
}