.sideMenu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateX(100%);
    animation: open .3s forwards;
    z-index: 300;
    overflow-y: auto;
    border-top: 1px solid #CFD8DC;

}

.menuList {
    display: flex;
    padding-bottom: 120px;
    flex-direction: column;
}

.menuList > li > div {
    border-bottom: 1px solid #CFD8DC;
}

.menuList > li > div > button {
    width: 100%;
    text-align: left;
    background: url(../../../public/dropdown.svg) no-repeat right 20px center/auto 20px;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 20px;
}


.menuList > li > ul li a {
    font-size: 14px;
    line-height: 170%;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .sideMenu {
        display: none;
    }
}

@keyframes open {
    to {
        transform: translateX(0);
    }
    from {
        transform: translateX(100%);
    }

}